<div class="row">
  <div class="col-sm-8 col-sm-offset-2" align="center">
    <h1 class="tagline" ng-show="matches.length > 0">These breeds match your search!</h1>
    <br>
  </div>
</div>
<div class="row" ng-show="matches.length > 0">
	<div class="col-md-3 col-sm-4 col-xs-12" ng-repeat="match in matches">
		<div class="thumbnail well" align="center">
			<img ng-src="{{match.pictureurl}}">
			<h4>{{match.breed}}</h4>
			<input type="submit" value="Breed Info & Adoptable Dogs" class="btn btn-info" ng-click="breedInfo(match)">
		</div>
	</div>
</div>
<div class="row" ng-show="matches.length == 0">
	<div class="col-sm-10">
		<h2>There are no breeds that match your criteria.  Please consider changing some of your answers and try again.</h2>
	</div>
</div>
<div class="row" ng-show="matches.length === undefined">
	<div class="col-sm-4 col-sm-offset-4 well error">
		<h3>Error</h3>
		<hr>
		<p>{{error}}</p>
	</div>
</div>