<div class="row">
  <div class="col-sm-6 col-sm-offset-3" align="center">
    <h1 id="tagline">Who's Your Doggie?</h1>
    <br>
  </div>
</div>
<div class="row">
  <div class="col-sm-4 blue" align="center">
    <h3>Find a great breed to match your lifestyle!</h3>
  </div>
  <div class="col-sm-4 well" align="center">
    <h4>What size dog do you want?</h4>
    <hr>
    <form><p align="left">
      <input type="radio" name="size" value="small">&nbsp;Small
      <br>
      <input type="radio" name="size" value="medium">&nbsp;Medium
      <br>
      <input type="radio" name="size" value="large">&nbsp;Large
      <br>
      <input type="radio" name="size" value="extra-large">&nbsp;Extra Large
      <br>
      <input type="radio" name="size" value="any-size">&nbsp;Any Size
      <br>
      <br>
      <input type="submit" value="Get Started!" class="btn btn-primary">
    </p></form>
  </div>
  <div class="col-sm-4 blue" align="center">
    <h3>Adopt your dog from a shelter near you!</h3>
  </div>
</div>
<div class="row">
  <div align="center">
    <img src="/images/dogs1.jpg" class="img-responsive">
  </div>
</div>
