<div class="row">
  <div class="col-sm-6 col-sm-offset-3" align="center">
    <h1 class="tagline">Who's Your Doggie?</h1>
    <br>
  </div>
</div>
<div class="row">
  <div class="col-sm-4 blue" align="center">
    <h3>Find a great breed to match your lifestyle!</h3>
  </div>
<!-- FORM QUESTIONS -->
  <!-- size -->
  <div class="col-sm-4 well" ng-show="sizeDiv" align="center">
    <form >
      <h4>What size dog do you want?</h4>
      <hr>
      <p align="left">
      <!-- {{answers.size}} -->
      <input type="checkbox" ng-model="answers.size.s">&nbsp;Small (under 25 pounds)
      <br>
      <input type="checkbox" ng-model="answers.size.m">&nbsp;Medium (25 to 49 pounds)
      <br>
      <input type="checkbox" ng-model="answers.size.l">&nbsp;Large (50 to 100 pounds)
      <br>
      <input type="checkbox" ng-model="answers.size.xl">&nbsp;Extra Large (over 100 pounds)
      <br>
      <br>
      <input type="submit" value="Get Started!" class="btn btn-primary" ng-click="sizeq()">
    </p></form>
  </div>
  <!-- exercise -->
  <div class="col-sm-4 well" ng-show="exerciseDiv" align="center">
    <form>
      <h4>How much time can you dedicate to exercising and playing with your dog each day?</h4>
      <hr>
      <p align="left">
      <input type="checkbox" ng-model="answers.exercise.2">&nbsp;15 minutes or less
      <br>
      <input type="checkbox" ng-model="answers.exercise.3">&nbsp;16-30 minutes
      <br>
      <input type="checkbox" ng-model="answers.exercise.4">&nbsp;31-45 minutes
      <br>
      <input type="checkbox" ng-model="answers.exercise.5">&nbsp;46-60 minutes
      <br>
      <input type="checkbox" ng-model="answers.exercise.6">&nbsp;More than 60 minutes
      <br>
      <br>
      <input type="submit" value="Next" class="btn btn-primary" ng-click="exerciseq()">
    </p></form>
  </div>
  <!-- training -->
  <div class="col-sm-4 well" ng-show="training" align="center">
    <form>
      <h4>How trainable should your dog be?</h4>
      <hr>
      <p align="left">
      <input type="checkbox" ng-model="answers.training.2">&nbsp;Trainable with extended practice and ongoing reminder sessions 
      <br>
      <input type="checkbox" ng-model="answers.training.3">&nbsp;Fair obedience, needs extended practice to be reliable
      <br>
      <input type="checkbox" ng-model="answers.training.4">&nbsp;Average obedience, needs extra practice or likely to forget commands
      <br>
      <input type="checkbox" ng-model="answers.training.5">&nbsp;Obedient and easy to train with a little more practice time
      <br>
      <input type="checkbox" ng-model="answers.training.6">&nbsp;Eagerly obedient, attentive, and wants to learn more
      <br>
      <br>
      <input type="submit" value="Next" class="btn btn-primary" ng-click="trainingq()">
    </p></form>
  </div>
  <!-- grooming -->
  <div class="col-sm-4 well" ng-show="grooming" align="center">
    <form>
      <h4>How much grooming should your dog need?</h4>
      <hr>
      <p align="left">
      <input type="checkbox" ng-model="answers.grooming.2">&nbsp;None
      <br>
      <input type="checkbox" ng-model="answers.grooming.3">&nbsp;Once a week
      <br>
      <input type="checkbox" ng-model="answers.grooming.4">&nbsp;Two times per week
      <br>
      <input type="checkbox" ng-model="answers.grooming.5">&nbsp;Every other day
      <br>
      <input type="checkbox" ng-model="answers.grooming.6">&nbsp;Every other day plus regular trims
      <br>
      <br>
      <input type="submit" value="Next" class="btn btn-primary" ng-click="groomingq()">
    </p></form>
  </div>
  <!-- catfriendly -->
  <div class="col-sm-4 well" ng-show="catfriendly" align="center">
    <form>
      <h4>How pet-friendly should your dog be?</h4>
      <hr>
      <p align="left">
      <input type="checkbox" ng-model="answers.catfriendly.2">&nbsp;Best in a single pet household
      <br>
      <input type="checkbox" ng-model="answers.catfriendly.3">&nbsp;Okay with some pets
      <br>
      <input type="checkbox" ng-model="answers.catfriendly.4">&nbsp;Friendly when socialized as a puppy
      <br>
      <input type="checkbox" ng-model="answers.catfriendly.5">&nbsp;Naturally friendly with most pets
      <br>
      <input type="checkbox" ng-model="answers.catfriendly.6">&nbsp;Super friendly with all kinds of pets
      <br>
      <br>
      <input type="submit" value="Next" class="btn btn-primary" ng-click="catfriendlyq()">
    </p></form>
  </div>
  <!-- protective -->
  <div class="col-sm-4 well" ng-show="protective" align="center">
    <form>
      <h4>How protective should your dog be?</h4>
      <hr>
      <p align="left">
      <input type="checkbox" ng-model="answers.protective.2">&nbsp;No protection drive
      <br>
      <input type="checkbox" ng-model="answers.protective.3">&nbsp;Might protect you, but don't count on it
      <br>
      <input type="checkbox" ng-model="answers.protective.4">&nbsp;Somewhat protective
      <br>
      <input type="checkbox" ng-model="answers.protective.5">&nbsp;Protective of owner and family
      <br>
      <input type="checkbox" ng-model="answers.protective.6">&nbsp;Highly protective of owner and protective of family members
      <br>
      <br>
      <input type="submit" value="Next" class="btn btn-primary" ng-click="protectiveq()">
    </p></form>
  </div>
  <!-- affection -->
  <div class="col-sm-4 well" ng-show="affection" align="center">
    <form>
      <h4>How affectionate should your dog be?</h4>
      <hr>
      <p align="left">
      <input type="radio" name="affection" value="2" ng-model="answers.affection">&nbsp;Independent, doesn't need much affection
      <br>
      <input type="radio" name="affection" value="3" ng-model="answers.affection">&nbsp;Likes to be around you, but doesn't seek out affection
      <br>
      <input type="radio" name="affection" value="4" ng-model="answers.affection">&nbsp;Likes affection, but doesn't seek it out
      <br>
      <input type="radio" name="affection" value="5" ng-model="answers.affection">&nbsp;Likes affection, seeks it out regularly
      <br>
      <input type="radio" name="affection" value="6" ng-model="answers.affection">&nbsp;Very affectionate - wants to be your shadow
      <br>
      <br>
      <input type="submit" value="Submit" class="btn btn-primary" ng-click="affectionq()">
    </p></form>
  </div>
  <div class="col-sm-4 blue" align="center">
    <h3>Adopt your dog from a shelter near you!</h3>
  </div>
</div>

<!-- IMAGES -->
<div class="row">
  <div align="center" ng-show="sizeDiv">
    <img src="/images/dogs1.jpg" class="img-responsive">
  </div>
  <div align="center" ng-show="exercise">
    <img src="/images/dogexercise2.jpg" class="img-responsive">
  </div>
  <div align="right" ng-show="training"  id="train">
    <img src="/images/dogtrain2.jpg" class="img-responsive">
  </div>
  <div align="left" ng-show="grooming">
    <img src="/images/doggrooming2.jpg" class="img-responsive">
  </div>
  <div align="center" ng-show="catfriendly" id="cat">
    <img src="/images/dogcat.jpg" class="img-responsive">
  </div>
  <div align="center" ng-show="protective" >
    <img src="/images/dogprotection.jpg" class="img-responsive">
  </div>
  <div align="center" ng-show="affection" >
    <img src="/images/dogaffection.jpg" class="img-responsive">
  </div>
</div>
